<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="preload" href="/stylesheets/sign-in.css" as="style">
    <link rel="stylesheet" href="/stylesheets/sign-in.css" media="print" onload="this.media='all'">
    <link rel="preload" href="/stylesheets/sign-up.css" as="style">
    <link rel="stylesheet" href="/stylesheets/sign-up.css" media="print" onload="this.media='all'">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">
    <title>Boardly</title>
</head>

<body>
    <div id="popup"></div>

    <div class="background-svg layer1">
        <div class="overlay-content">
            <h1>Boardly</h1>
            <div id="buttonsContainer">
                <button id="signUpBtn">Sign up</button>
                <button id="signInBtn">Sign in</button>
            </div>
            <div id="description-container">
                <ul>
                    <li>Track your personal and friends game history</li>
                    <li>Analyze wins and strategies</li>
                    <li>Relive memorable game sessions</li>
                </ul>
            </div>

            <img src="/dashboard-page.png" alt="Picture of dashboard" id="dashboard-image">
        </div>
    </div>

    <script>
        const popup = document.getElementById('popup');

        function openPopup(url) {
            fetch(url)
                .then(res => res.text())
                .then(html => {
                    popup.innerHTML = html;
                })
                .catch(err => console.error('Error: ', err));
        }

        document.getElementById('signInBtn').addEventListener('click', () => openPopup('/auth/signInForm'));
        document.getElementById('signUpBtn').addEventListener('click', () => openPopup('/auth/signUpForm'));
    </script>


</body>

</html>